{% extends 'base.html.twig' %}

{% block title %}Edit PersonalEvent{% endblock %}

{% block body %}
    <h1>Edit PersonalEvent</h1>

    {{ include('personal_event/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('personal_event_index') }}">back to list</a>

    {{ include('personal_event/_delete_form.html.twig') }}
{% endblock %}
