{% extends 'adminlte.html.twig' %}

{% block title %}Nouvel évènement{% endblock %}

{% block mainContent %}

    {{ include('personal_event/_form.html.twig') }}

    <a href="{{ path('personal_event_index') }}">back to list</a>
{% endblock %}
