{% extends 'adminlte.html.twig' %}

{% block title %}Editer utilisateur{% endblock %}

{% block mainContent %}
    {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('user_index') }}">back to list</a>

    {{ include('user/_delete_form.html.twig') }}
{% endblock %}
